.cocktail {
    display: flex;
    justify-content: space-between;
  }
  
  .cocktail-info-container {
      border: 1px solid rgb(232 225 225);
    width: 50vw;
    border-radius: 3px;
    height: calc(100vh - 125px);
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
    padding:  15px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .back-btn {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  
  .cocktail-title {
    font-family: "Dancing Script", cursive;
  }
  
  .cocktail-img-container {
    background: rgb(245, 244, 244);
    border-radius: 3px;
    width: 50vw;
    height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 15px 15px;
  }
  
  .cocktail-img {
    max-height: 100%;
    max-width: 100%;
    padding: 8px;
    border-radius: 10px;
  }
  
  .cocktail-categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .cocktail-cat-item {
    font-size: 11px;
    background: rgb(240, 235, 235);
    color: rgb(100, 93, 93);
    padding: 2px 5px;
    border-radius: 3px;
  }
  
  ul {
    text-align: left;
    margin: 0;
    font-size: 14px;
  }
  
  ul li {
    margin: 0;
    padding: 0;
  }
  
  .cocktail-instructions {
    text-align: left;
  }
  
  .cocktail-ingr-container {
    background: rgba(131, 122, 255, 0.075);
    padding: 8px 17px 8px 0;
    color: #281e80;
    border-radius: 3px;
  }

  